.rsform .rsform-block-guingay input,
.popup_cart_total_thanhtoan .checkout-button-top,
.checkout-button-top .tieptucmuahang,
.cart-submit_button {
    background: #ca0000;
    transition-property: color, background-color, border;
    transition-duration: 0.25s;
}

.rsform .rsform-block-guingay input:hover,
.popup_cart_total_thanhtoan .checkout-button-top:hover,
.checkout-button-top .tieptucmuahang:hover,
.cart-submit_button:hover {
    color: #fff;
    background: #ca0000;
    opacity: 0.8;
}

.checkout-button-top .tieptucmuahang {
    color: #ca0000;
    border: 1px solid #ca0000;
    background: #fff;
}
