.browse-first {
    padding: 10px;
    background: linear-gradient(45deg, transparent, #fafafa);
}

.block-orderby span {
    margin-right: 12px;
    padding: 0;
    font-size: 90%;
}

.selectsapxep,
.select-limit {
    padding: 6px 10px;
    font-family: inherit;
    border-color: transparent;
    border-radius: 4px;
    background-position: right 14px center;
}

.orderby-limit {
    padding-left: 38px;
}

.search_tensp {
    display: none;
}

.browse-view .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.browse-view .blocksp {
    display: block;
    width: 100%;
    margin: 0;
    float: unset;
}

.browse-view .spacer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    border-color: transparent;
    border-radius: 4px;
    transition-property: transform, border-color, box-shadow;
    transition-duration: 0.25s;
}

.browse-view .spacer:hover {
    transform: translatey(-4px);
    border-color: transparent;
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.1);
}

.browse-view .browseProductImage {
    height: 220px;
    object-fit: cover;
    transition: transform 0.25s;
}

.browse-view .product-thongtin {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;
}

.browse-view .product-thongtin-ten {
    margin: 0 0 10px 0;
    font-size: 100%;
    font-weight: 500;
}

.browse-view .product-thongtin-ten a {
    color: #000;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.browse-view .product-thongtin-salesPrice {
    margin: auto 0 0;
}

.browse-view .nutaddtocart {
    display: none;
}

.productdetails-view .addtocart-bar {
    display: block;
    width: 100%;
}

.addtocart-bar__wrap {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.addtocart-bar .nutflytocart,
.addtocart-bar .nutaddtocart {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    background: #0201fd;
    border: 1px solid #0201fd;
    transition: 0.25s;
}

.addtocart-bar .nutflytocart {
    color: #0201fd;
    background: #fff;
}

.addtocart-bar .nutflytocart:hover {
    color: #fff;
    background: #0201fd;
}

.productdetails-view .addtocart-bar span {
    display: block;
    padding: 0;
}

span[class*="tocart"] i {
    display: none;
}

.addtocart-bar input {
    background: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    padding: 0;
    width: 100%;
    height: 100%;
}

.browse-view .product-thongtin-muahang {
    margin-top: 10px;
}

.productdetails-view .addtocart-bar {
    display: block;
    width: 100%;
}

.addtocart-bar__wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.productdetails-view .addtocart-bar__wrap > .quantity-controls {
    display: inline-flex;
    height: 42px;
    border: 1px solid #ccc;
}

.addtocart-bar .quantity-input {
    width: 60px;
}

.quantity-controls button.quantity-controls {
    width: 40px;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-input[type="number"] {
    -moz-appearance: textfield;
}

.vmfooter {
    display: flex;
    justify-content: center;
}

.viewallproduct {
    padding: 8px 20px;
    color: #4371a3;
    border: 2px solid currentColor;
    text-transform: uppercase;
    font-weight: 500;
    transition-property: color, background-color;
    transition-duration: 0.25s;
}

.viewallproduct:hover {
    color: #fff;
    background: #4371a3;
}
