.mobile_menu {
    width: auto;
}

.mobile_menu .tieude {
    color: #666;
}

.mobile_menu .tieude i {
    padding-right: 0;
}

.mobile_menu .noidung >ul>li>a:before {
    display: none;
}

.mobile_menu .noidung ul > .deeper {
    display: flex;
    flex-wrap: wrap;
}

.mobile_menu .noidung ul > .deeper > a {
    width: 80%;
    box-sizing: border-box;
}

.mobile_menu .noidung ul > .deeper > span {
    width: 20%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_menu .noidung ul > .deeper > ul {
    display: none;
    width: 100%;
}

.mobile_menu .noidung li a, 
.mobile_menu .noidung li span {
    color: #333;
}

.browse-view .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.browse-view .blocksp,
.browse-view .spacer,
.browse-view .browseProductImage,
.catItemImageBlock,
.catItemThongTin {
    width: 100%;
    margin: 0;
    padding: 0;
}

.itemRow {
    grid-template-columns: 1fr;
}

.catItemImageBlock {
    padding-top: 50%;
}

.catItemThongTin {
    padding: 10px;
}