.extra6 .itemRow {
    --cols: 1;
}

.extra6 .itemContainer {
    background: none;
}

.extra6 .catItemImageBlock {
    display: none;
}

.extra6 .catItemTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.extra6 .catItemTitle::after {
    content: "\f077";
    font-family: "FontAwesome";
    font-size: 1.6rem;
    display: block;
    transition: rotate 0.25s ease;
}

.itemContainer:has(.catItemExtraFields.active) .catItemTitle::after {
    rotate: 180deg;
}

.extra6 .catItemTitle a {
    font-size: 2rem;
    font-weight: 700;
    pointer-events: none;
}

.extra6 .catItemExtraFields {
    display: none;
}