@use "../abstracts/variables";
@use "../base/base";

#ja-menungang {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background: variables.$green;

    .level0 {
        @extend %flexItemsCenter;
        justify-content: center;

        > li > a {
            font-size: 100%;
        }

        > li.active > a,
        > li:hover > a {
            color: variables.$yellow;
        }

        > .deeper > a::after {
            font-size: 80%;
        }

        ul {
            box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);

            a {
                font-size: 100%;
            }

            li:hover > a {
                color: variables.$yellow;
                background: variables.$green;
            }
        }
    }
}
