/* Slide desc */
#ja-slideshow {
    .ja-workshome .nivo-desc {
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        background: transparent;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background: rgba(0, 0, 0, 0.6);
        }
    }
}

.nivo-desc h2 {
    font-size: 320%;
    font-weight: 700;
    text-align: center;
}

.nivo-desc p {
    font-size: 160%;
    text-align: center;
}
