// Flex
@mixin flex($jc: null) {
    display: flex;
    align-items: center;
    @if $jc == center {
        justify-content: center;
    } @else if $jc == between {
        justify-content: space-between;
    }
}

// Menu icon
@mixin menu-icon($w, $h: $w) {
    .menu {
        @include flex($gx: 24px);

        img {
            width: $w;
            height: $h;
            object-fit: contain;
        }
    }

    .image-title {
        display: none;
    }
}

// Flex Items Center
%flexItemsCenter {
    display: flex;
    align-items: center;
}
